./lab2/lab*
*.exe
./lab01/int_lengths_part*
*.o
*.hex
kill_stragglers.sh
lab03/utility_programs
*.swp
lab3/lab3*
lab4/*.o
lab4/utility_programs
lab4/lab4*
lab5/*.o
lab5/utility_programs
lab5/lab5*
lab5/*.hex
lab5/*.out
lab6/*.o
lab6/utility_programs
lab6/lab6*
lab6/*.o
lab6/utility_programs
lab6/lab6*
lab6/*.o
lab6/utility_programs
lab6/lab6*
final/serialTest
